@using DBEmpire.Controllers
@using DBEmpire.Models.Login
@model LoginModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNotLogged.cshtml";
}

<h2>Zaloguj się</h2>
<div style="height: 100%">
    @using (Html.BeginForm(LoginController.ActionIndex, LoginController.Name))
    {
        <div>
            @Html.LabelFor(m => m.UserName) <br />
            @Html.TextBoxFor(m => m.UserName) <br />
            @Html.LabelFor(m => m.Password) <br />
            @Html.TextBoxFor(m => m.Password) <br />
        </div>

        <br />

        <button class="btn btn-primary" type="submit" style="height: 30px; width: 150px">Zaloguj</button><br />

        <br />
        <br />
        <div>Nie masz konta ?</div>
        <button class="btn btn-info" type="submit" style="height: 30px; width: 150px">Zarejestruj się</button><br/>
        <br/>
        <br/>
    }
</div>
